<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/assets.css">
    <title>TODO</title>
</head>
<body>

<div id="todo">
    <div class="columns">
        <div class="column">
            <h2 class="t-a-c">Принято в работу</h2>
            <input v-model="cardName" type="text" class="addCardInput"><br><br>
            <button @click="addCard()" class="addCardButton">Добавить карточку</button>

            <div v-for="(newCard, index) in this.column1Cards">
                <p>{{newCard.cardName}}</p>
                <li v-for="(newTask, taskIndex) in newCard.tasks" :key="taskIndex">
                    <span @click="completeTask(newCard, taskIndex, index)" :class="{'completeStyle' : newTask.completeStyle }">{{ newTask.taskName }} <br><br></span>
                </li>
                <input v-model="newCard.taskName" type="text">
                <button @click="addTask(index)">Добавить задачу</button>
            </div>

        </div>

        <div class="column">
            <h2 class="t-a-c">В моменте</h2>
            <div v-if="newCard" v-for="(newCard, index) in this.column2Cards">
                <p>{{newCard.cardName}}</p>
                <li v-for="(newTask, taskIndex) in newCard.tasks" :key="taskIndex">
                    <span @click="completeTask(newCard, taskIndex, index)"  :class="{'completeStyle' : newTask.completeStyle }">{{ newTask.taskName }} <br><br></span>
                </li>
            </div>
        </div>

        <div class="column">
            <h2 class="t-a-c">Выполнено</h2>
            <div v-for="(newCard, index) in this.column3Cards">
                <p>{{ newCard.cardName }}</p>
                <li v-for="(newTask, taskIndex) in newCard.tasks" :key="taskIndex">
                    <span :class="{'completeStyle' : newTask.completeStyle }">{{ newTask.taskName }} <br><br></span>
                </li>
                <p> Время закрытия карточки: {{ newCard.timeEnd }}</p>
            </div>
        </div>

    </div>
</div>

</body>
</html>